CalculatriceDeMiguel/xml-resources/web-service-references/Miguel/wsdl/localhost_8080/WebSOA/Miguel.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tsauvajon.classe1.i4.montpellier.epsi.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tsauvajon.classe1.i4.montpellier.epsi.fr/" name="Miguel">
<types>
<xsd:schema>
<xsd:import namespace="http://tsauvajon.classe1.i4.montpellier.epsi.fr/" schemaLocation="http://localhost:8080/WebSOA/Miguel?xsd=1"/>
</xsd:schema>
</types>
<message name="add">
<part name="parameters" element="tns:add"/>
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse"/>
</message>
<message name="sub">
<part name="parameters" element="tns:sub"/>
</message>
<message name="subResponse">
<part name="parameters" element="tns:subResponse"/>
</message>
<message name="div">
<part name="parameters" element="tns:div"/>
</message>
<message name="divResponse">
<part name="parameters" element="tns:divResponse"/>
</message>
<message name="mul">
<part name="parameters" element="tns:mul"/>
</message>
<message name="mulResponse">
<part name="parameters" element="tns:mulResponse"/>
</message>
<message name="migmig">
<part name="parameters" element="tns:migmig"/>
</message>
<message name="migmigResponse">
<part name="parameters" element="tns:migmigResponse"/>
</message>
<portType name="Miguel">
<operation name="add">
<input wsam:Action="http://tsauvajon.classe1.i4.montpellier.epsi.fr/Miguel/addRequest" message="tns:add"/>
<output wsam:Action="http://tsauvajon.classe1.i4.montpellier.epsi.fr/Miguel/addResponse" message="tns:addResponse"/>
</operation>
<operation name="sub">
<input wsam:Action="http://tsauvajon.classe1.i4.montpellier.epsi.fr/Miguel/subRequest" message="tns:sub"/>
<output wsam:Action="http://tsauvajon.classe1.i4.montpellier.epsi.fr/Miguel/subResponse" message="tns:subResponse"/>
</operation>
<operation name="div">
<input wsam:Action="http://tsauvajon.classe1.i4.montpellier.epsi.fr/Miguel/divRequest" message="tns:div"/>
<output wsam:Action="http://tsauvajon.classe1.i4.montpellier.epsi.fr/Miguel/divResponse" message="tns:divResponse"/>
</operation>
<operation name="mul">
<input wsam:Action="http://tsauvajon.classe1.i4.montpellier.epsi.fr/Miguel/mulRequest" message="tns:mul"/>
<output wsam:Action="http://tsauvajon.classe1.i4.montpellier.epsi.fr/Miguel/mulResponse" message="tns:mulResponse"/>
</operation>
<operation name="migmig">
<input wsam:Action="http://tsauvajon.classe1.i4.montpellier.epsi.fr/Miguel/migmigRequest" message="tns:migmig"/>
<output wsam:Action="http://tsauvajon.classe1.i4.montpellier.epsi.fr/Miguel/migmigResponse" message="tns:migmigResponse"/>
</operation>
</portType>
<binding name="MiguelPortBinding" type="tns:Miguel">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="add">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sub">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="div">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mul">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="migmig">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Miguel">
<port name="MiguelPort" binding="tns:MiguelPortBinding">
<soap:address location="http://localhost:8080/WebSOA/Miguel"/>
</port>
</service>
</definitions>